:root{
    --primary:#0056a6;
    --secondary: #E4EDFF;
    --white:#FFF;
    --green: #16A300;
    --blue: #0056a6;
    --light-blue: #E4EDFF;
}
body{
    padding:0;
    margin:0;
    background-color:#E4EDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    display:flex;
    flex-direction: row;
    background-color:#0056a6;
    align-items:center;
    padding:0;
    justify-content: space-between;
}

.logo{
    justify-self:flex-start;
    margin:0;
    padding:0;
    background-color:none;
    border-radius:0px;
    padding-bottom:0;
    height:auto;
    width: 300px;
}
.last{
    margin-right:5%
}

a{
    color:#0056a6;
    background-color: white;
    padding:2% 4%;
    height:2%;
    text-decoration:none;
    border-radius:40px;
    font-size:48px;
}
a:has(*) {
    background-color: transparent;
}
.start{
    color:var(--primary);
}


/* headers */
nav > h1{
    color:white;
}
h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: var(--blue);
    text-align: center;
}
h2{
    color:var(--primary);
    text-align: center;
    font-size: 1.5em;
}

/* select dropdown */
#selectC {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw; 
}
#selectC select {
    width: 20vw;
}

.green {
    width: 38vh;
    height: 6vh;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


